@tailwind base;
@tailwind components;
@tailwind utilities;

.gradiented {
	background: -webkit-linear-gradient(#eee, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.tabs {
	align-items: start !important;
}

.card-body {
	min-height: 300px !important;
}